:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --bg-body: #f8fafc;
    --white: #ffffff;
    --text-main: #0f172a;
    --text-muted: #64748b;
    --border: #e2e8f0;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Plus Jakarta Sans', sans-serif; }

body { background-color: var(--bg-body); color: var(--text-main); }

.container-center {
    display: flex; justify-content: center; align-items: center;
    min-height: 100vh; padding: 20px;
    background: radial-gradient(circle at top right, #e0e7ff, #f8fafc);
}

.card-panel {
    background: rgba(255, 255, 255, 0.9); backdrop-filter: blur(10px);
    padding: 40px 30px; border-radius: 30px; width: 100%; max-width: 400px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1); border: 1px solid var(--white);
    text-align: center;
}

.card-panel h1 { 
    font-size: 2rem; font-weight: 800; margin-bottom: 5px;
    background: linear-gradient(to right, #2563eb, #7c3aed);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

.input-group { text-align: left; margin-bottom: 15px; }
.input-group label { display: block; font-size: 0.7rem; font-weight: 800; color: var(--primary); margin-bottom: 5px; text-transform: uppercase; }

input, .custom-select {
    width: 100%; padding: 14px; border-radius: 12px; border: 2px solid var(--border);
    outline: none; font-weight: 600; background: var(--white);
}

.btn-utama {
    width: 100%; padding: 16px; border-radius: 12px; background: var(--primary);
    color: white; border: none; font-weight: 800; cursor: pointer; margin-top: 10px;
}

/* HEADER UJIAN */
header { background: white; padding: 15px; border-bottom: 1px solid var(--border); position: sticky; top: 0; z-index: 10; }
.header-content { display: flex; justify-content: space-between; align-items: center; max-width: 800px; margin: 0 auto; }
.timer-box { background: #fee2e2; color: #ef4444; padding: 8px 15px; border-radius: 10px; font-weight: 800; }

/* SOAL */
.content-soal { max-width: 800px; margin: 0 auto; padding: 20px; }
.q-card { background: white; padding: 25px; border-radius: 20px; margin-bottom: 15px; border: 1px solid var(--border); }
.opt-item { 
    display: flex; align-items: center; padding: 15px; background: #f8fafc; 
    border: 1px solid var(--border); border-radius: 12px; margin-top: 10px; cursor: pointer; 
}
.opt-item input { margin-right: 15px; width: 18px; height: 18px; }
.alphabet { font-weight: 800; color: var(--primary); margin-right: 8px; }
